clip==0.2.0
diffusers==0.39.0.dev0
fastapi==0.139.0
filelock==3.29.4
huggingface_hub==1.16.0
numpy==2.5.0
openai==2.44.0
Pillow==12.3.0
pydantic==2.13.4
qwen_vl_utils==0.0.14
Requests==2.34.2
safetensors==0.8.0
scikit_learn==1.9.0
torch==2.5.1+cu121
torchvision==0.20.1+cu121
tqdm==4.67.3
transformers==5.9.0
uvicorn==0.49.0
